@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

body {
  font-family: "Quicksand", sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
a,
p,
h1,
h2,
h3 {
  font-family: "Quicksand", sans-serif;
}

li a {
  text-decoration: none;
  color: white;
}

nav.menu {
  float: right;
}

.main-menu ul {
  list-style: none;
}
ul,
ol {
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: inline;
}
*,
::after,
::before {
  box-sizing: border-box;
}

.menu ul li a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  padding: 10px 0px;
  margin-right: 80px;
  position: relative;
  text-decoration: none;
}

.site-logo img {
  width: 200px;
}

a.active {
  border-bottom: 2px solid #f8ce41;
}

nav a:hover {
  border-bottom: 2px solid pink;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


div {
  margin: 0;
}
.home-content-main {
  padding-top: 16rem;
  position: relative;
  width: 100%;
}


.row {
  width: 86%;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: relative;
  margin-top: 0;
  margin-bottom: 1.2rem;
  margin-left: 6px;
  text-align: center;
}

.Name{
  font-size: 5rem;
  text-shadow: 0px 15px 5px rgba(0,0,0,0.1),
                 10px 20px 5px rgba(0,0,0,0.05),
                 -10px 20px 5px rgba(0,0,0,0.05);
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: .center;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }
}


.notAvg{
  font-size: 2rem;
  color: rgba(0,0,0,0.6);
  margin-top: 75px;
  margin-left: 23.5%;
  text-transform: uppercase;
}


.notAvg span {
  display: inline-block;
  transition: 0.8s;
}

.notAvg:hover span:nth-child(odd) {
  transform: rotateX( 0deg ) rotateY( 0deg ) rotateZ( 370deg );
  cursor: pointer;
}

.notAvg:hover span:nth-child(even) {
  transform: rotateX( 0deg ) rotateY( 0deg ) rotateZ( -370deg );
  cursor: pointer;
}


h1 {
  font-size: 3rem;
  line-height: 1.5;
  margin-top: 0;
  color: #ffffff;
}


.home-content-main h1 {
  width: 70%;
}

a.btn.btn-stroke {
  text-decoration: none;
  color: #f8ce41;
  border: 2px solid #f8ce41;
  padding: 15px 60px;
}

.home-content-buttons {
  margin-top: 80px;
  display: inline-block;
}

a.btn.btn-stroke:hover {
  color: black;
  border: none;
  background: #f8ce41;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.home-content-line {
  display: block;
  width: 2px;
  height: 8.2rem;
  background-color: #f8ce41;
  position: absolute;
  right: 7.2rem;
  bottom: 0;
}
.p2-content-line {
  display: block;
  width: 2px;
  height: 8.2rem;
  background-color: #000;
  position: absolute;
  right: 7.2rem;
  top: 0;
}
.footer-content-line {
  display: block;
  width: 2px;
  height: 19.2rem;
  background-color: #f8ce41;
  position: absolute;
  right: 7.2rem;
  top: 0;
}

.intro-bottom-line:after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 12%;
  background-color: black;
  position: absolute;
  margin-top: 3.5rem;
  top: 43%;
  left: 44%;
}

footer#footer {
  position: absolute;
  background: black;
  width: 100%;
  height: 440px;
}

.footer-logo {
  width: 30%;
  float: right;
  margin-right: 43px;
  margin-top: 100px;
}
.footer-logo img {
  float: right;
}
.footer-logo p {
  display: inline-block;
  font-size: 20px;
  line-height: 1.5;
  text-align: right;
}

.footer-content ul {
  list-style: none;
  display: inline-block;
  margin-top: 140px;
  font-size: 20px;
}
.footer-content ul li a:hover {
  text-decoration: underline;
}

.footer-content-left {
  float: left;
}

.footer-content-right {
  float: right;
  margin-right: 190px;
}

.copyright p {
  width: 100%;
  text-align: center;
}

.footer-content {
  width: 100%;
}
.copyright p {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

/* hamburger menu */
#hamburger {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 80%;
  right: 85%;
  cursor: pointer;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-left: 50px;
}
.collap nav.navigate {
  display: none;
}

.expand nav.navigate {
  display: block;
}

.bar {
  display: block;
  width: 40%;
  height: 3%;
  margin-top: 10%;
  background: black;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.expand .bar:nth-child(1) {
  transform: translateY(10px) rotate(135deg);
}
.expand .bar:nth-child(2) {
  opacity: 0;
}
.expand .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-135deg);
}

.expand nav {
  position: fixed;
  transition: all 0.25s;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
  }


  .demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }


  #home a {
    padding-top: 60px;
  }
  #home a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }



  @keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }



  section#section01 {
  display: block;
  height: 100%;
  width: 100%;
}


.section01-left {
  width: 50%;
  height: 100%;
  float: left;
  background-color: black;
  overflow: hidden;
}
.section01-left h1 {
  color: white;
  right: 50%;
}
.section01-right {
  width: 50%;
  height: 100%;
  float: right;
  background-color: white;
  overflow: hidden;
}
